
@media screen and (min-width: 425px) and (max-width: 768px) {
    .head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            width: 10rem;
        }

        h1 {
            color: white;
            font-family: 'Bellota';
            text-transform: uppercase;
            font-size: 44px;
            font-weight: bold;
        }
    } 
}

@media screen and (min-width: 768px) {
    .head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            width: 15rem;
        }

        h1 {
            color: white;
            font-family: 'Bellota';
            text-transform: uppercase;
            font-size: 54px;
            font-weight: bold;
        }
    }
}