
@media screen and (min-width: 425px) and (max-width: 768px) {
    .head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            width: 10rem;
        }
    } 
}

@media screen and (min-width: 768px) {
    .head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 600px;

        img {
            width: 10rem;
        }
    }
}