.good {
    color: green;
    font-family: 'Bellota';
    font-size: 1.5rem;
    text-align: center;
}
.wrong {
    color: red;
    font-family: 'Bellota';
    font-size: 1.5rem;
    text-align: center;
}

.error-message {
    color: red;
    font-family: 'Bellota';
    font-size: 1rem;
}


@media screen and (min-width: 425px) and (max-width: 768px) {
    h1 {
        color: white;
        font-family: 'Bellota';
        text-transform: uppercase;
        font-size: 44px;
        font-weight: bold;
    }

    .labels {
        font-family: 'Bellota';
        color: #303030;
        width: 5rem;
    }

    .gender {
        font-family: 'Bellota';
        color: #303030;
        width: 5rem;
    }

    input {
        color: #303030;
        font-family: 'Bellota';
    }

    select {
        font-family: 'Bellota';
        color: #303030;
    }

    .submit {
        font-family: 'Bellota';
        color: #303030;
        font-size: 20px;
        font-weight: bold;
    }

    h3 {
        font-family: 'Bellota';
        color: #0D8187;
        font-size: 1.5rem;
        font-weight: bold;
    }

    h4 {
        font-family: 'Bellota';
        color: #0D8187;
        font-size: 8px;
        font-weight: bold;
        margin-left: 2rem;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        color: white;
        font-family: 'Bellota';
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
    }

    .labels {
        font-family: 'Bellota';
        color: #303030;
        width: 5rem;
    }

    .gender {
        font-family: 'Bellota';
        color: #303030;
        width: 5rem;
    }

    input {
        color: #303030;
        font-family: 'Bellota';
    }

    select {
        font-family: 'Bellota';
        color: #303030;
    }

    .submit {
        font-family: 'Bellota';
        color: #303030;
        font-size: 20px;
        font-weight: bold;
    }

    h3 {
        font-family: 'Bellota';
        color: #0D8187;
        font-size: 3rem;
        font-weight: bold;
    }

    h4 {
        font-family: 'Bellota';
        color: #0D8187;
        font-size: 8px;
        font-weight: bold;
        margin-left: 2rem;
    }
}